@charset "UTF-8";

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #FCD8FA, #757577);
    }
    section#login{
        width: 80vw;
    }

    section#login #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login #formulario{
        float: right;
        width: 70%;
        height: 100%;
    }
}

/* Desktop */
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #FCD8FA, #757577);
    }

    section#login{
        width: 950px;
    }

    #login div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    #login div#formulario{
        float: left;
        width: 50%;
    }

    #formulario h1{
        font-size: 2em;
    }

    #formulario p{
        font-size: 1.2em;
    }
}